*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;    
}


/* -------- Header  --------*/
.header
{
    width:auto;
    margin: 0;
    padding: 0;
    background-color: white;
}
.leftHead
{
    padding-left: 20px;
}

/*    share media's Position and Margin */
.rightHead
{
    float: right;
    position: absolute;
    right: 10px;
    top:10px;
    margin: 10px 0px;
}
.dots
{     
    display: none;
    /*    three dots hidden */
}
.dots i
{
    padding: 5px 15px;
}
    
.rightHead a
{
    margin: 1px;
    padding: 0;
}
.rightHead i
{
    font-size: 30px;
}
/* ---- three bars -----*/
.bars,.Bars
{
    display: none;
}
.drop.first
{
    display: none;
}

/*----- Share Media On Hover ------*/
.fa-twitter-square:hover,.fa-twitter-square:active
{
    color: rgb(100,25,180);
    transition: color 800ms ease-in-out;
}
.fa-google-plus-square:active,.fa-google-plus-square:hover
{
    color: red;
    transition: color 800ms ease-in-out;
}
.fa-whatsapp-square:active,.fa-whatsapp-square:hover
{
    color: forestgreen;
    transition: color 800ms ease-in-out;
}
.fa-facebook-square:active,.fa-facebook-square:hover
{
    color: rgb(20,20,180);    
}

/* ----------- Rotate the Share Media Dots on Click -----------*/
.dottedi.responsive
{
    transform: rotate(360deg);
    transition: 500ms ease-in-out;
    font-size: 20px;
}
.dottedi
{
    transform: rotate(-360deg);
    transition: 500ms ease-in-out;
}

/* -------- Responsive : Three Dots And Shsare media ------- */

@media screen and (max-width: 870px)
{   
    .drop.first
    {
        display: block;
    }
    .leftHead
    {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .rightHead a:not(:first-child)
    {
        display: none;    
    }    
    .dots
    {
        display: block;        
        cursor: pointer;
    }
    .dots i
    {
        padding: 5px 15px;
    }
    .dots i:hover
    {
        background-color: rgb(220,220,220);
    }
    .rightHead.responsive a
    {
        display: block;
    }
    .rightHead.responsive a:not(:first-child)
    {
        margin-left: 8px;
    }
    .drop.loginLi a span
    {
        display: inline;
    }
    
    .drop
    {
        float: none;
    }
    .drop.loginLi
    {
        float: none;
    }
}

@media screen and (max-width:920px)
{
    .drop.loginLi span
    {
        display: none;
    }
}
@media screen and (max-width:480px)
{
    .rightHead
    {
        top: 0;
        right: 0;
    }
}

@media screen and (max-width:366px)
{
    .leftHead img
    {
        width: 250px;
    }
    .dots i
    {
        padding: 5px 10px;
        font-size: 20px;
    }
    .dots i:hover
    {
        background-color: rgb(220,220,220);
    }
    .rightHead.responsive .dots
    {
        margin-left: 7px;
    }
}


