*{
    box-sizing: border-box;
}
body
{
    margin: 0;
    padding: 0;    
}

/* -------- Navigation Bar styling Start --------- */
.nav
{
    overflow: hidden;            
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: green;
}

.nav .dropcontent a
{
    background-color: rgb(20,180,0);
    font-weight: 800;
    width: 240px;
    color: ghostwhite;
    font-family:serif;
}

.drop
{
    float: left;
}
.drop.loginLi
{
    float: right;
}
.dropcontent
{
    display: none;
    margin: 0px 0px 0px 5px;
    border: none;
    border-radius: .3cm;    
}

.nav a
{
    background-color: green;
    display: block;
    padding: 14px;
    text-decoration: none;
    color: aliceblue;
}


/* -------- Header  --------*/
.header
{
    width:auto;
    margin: 0;
    padding: 0;
    background-color: white;
}
.leftHead
{
    padding-left: 20px;
}

/* -----------   share media's Position and Margin -----------*/
.rightHead
{
    float: right;
    position: absolute;
    right: 10px;
    top:10px;
    margin: 10px 0px;
}
.dots
{     
    display: none;
}
.dots i
{
    padding: 5px 15px;
}
    
.rightHead a
{
    margin: 1px;
    padding: 0;
}
.rightHead i
{
    font-size: 30px;
}
.bars,.Bars
{
    display: none;
}
.drop.first
{
    display: none;
}

.nav .btn:hover
{
    background-color: rgb(0,160,0);
}
.dropcontent a:hover
{
    background-color: rgb(0,200,20);
}
.drop:hover .dropcontent
{
    position: absolute;
    display: block;
}

/*----------- Share Media On Hover -----------*/

.fa-twitter-square:hover,.fa-twitter-square:active
{
    color: blue;
    transition: color 800ms ease-in-out;
}
.fa-google-plus-square:active,.fa-google-plus-square:hover
{
    color: red;
    transition: color 800ms ease-in-out;
}
.fa-whatsapp-square:active,.fa-whatsapp-square:hover
{
    color: forestgreen;
    transition: color 800ms ease-in-out;
}
.fa-facebook-square:active,.fa-facebook-square:hover
{
    color: rgb(20,20,180);    
}

.dottedi.responsive
{
    transform: rotate(180deg);
    transition: 400ms ease-in-out;
    font-size: 20px;
}
.dottedi
{
    transform: rotate(-180deg);
    transition: 400ms ease-in-out;
}

/* -------- Responsive : Three Dots And Shsare media ------- */

@media screen and (max-width:870px)
{   
    .drop.first
    {
        display: block;
    }
    .leftHead
    {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .rightHead a:not(:first-child)
    {
        display: none;    
    }    
    .dots
    {
        display: block;        
        cursor: pointer;
    }
    .dots i
    {
        padding: 5px 15px;
    }
    .dots i:hover
    {
        background-color: rgb(220,220,220);
    }
    .rightHead.responsive a
    {
        display: block;
    }
    .rightHead.responsive a:not(:first-child)
    {
        margin-left: 8px;
    }
    .drop.loginLi a span
    {
        display: inline;
    }
    
/*    ------ when THEEE Bars clicked ------*/
    
    .drop
    {
        float: none;
    }
    .drop.loginLi
    {
        float: none;
    }
    
/*     --------THree bars-------    */
    
    .Bars
    {
        font-size: 32px;
        position: absolute;
        top: 18px;
        left: 3px;
        padding: 5px 10px;
        display: block;
    }
    .Bars:hover
    {
        background-color: lightgray;
    }
    .Bars:active .Bars i
    {
        color:green;
    }
    
    .nav.responsive
    {
        position: absolute;
        width:240px;
        top: 11px;
        display: block;
    }
    .cancel i
    {
        color:red;
        font-size: 25px;
        float: right;
        padding:2px 14px 0px 14px;
        position: absolute;
        right: 0;
        top: 0px;
    }
    .cancel i:hover
    {
        background-color: rgb(20,180,20);
    }
    .nav
    {
        display: none;
    }
    
    
    .nav.responsive .drop:hover .dropcontent
    {
        position: relative;
        display: none;
    }
    .nav.responsive .drop .dropcontent
    {
        margin-left: 30px;
    }
    .drop .fa-caret-down
    {
        float: right;
        padding: 2px 5px 2px 5px;
        background-color: rgb(10,180,0);
        border: none;
        border-radius: 50% 50%;
        margin-top: 2px;
    }
    

    
}

@media screen and (max-width:920px)
{
    .drop.loginLi span
    {
        display: none;
    }
}

@media screen and (max-width:480px)
{
    .rightHead
    {
        top: 0;
        right: 0;
    }
}

@media screen and (max-width:366px)
{
    .leftHead img
    {
        width: 250px;
    }
    .dots i
    {
        padding: 5px 10px;
        font-size: 20px;
    }
    .dots i:hover
    {
        background-color: rgb(220,220,220);
    }
    .rightHead.responsive .dots
    {
        margin-left: 7px;
    }
    .aBars
    {
        font-size: 22px;
        position: absolute;
        top: 9px;
        left: 1px;
        padding: 5px 10px
    }
    .Bars
    {
        font-size: 22px;
        top: 9px;
    }
}


/* ************** Login Form Styling Start **************/
div.mainLogin
{
    background-color: rgb(240,240,240);
    width: 400px;
    height: 420px;
    box-shadow: 10px 10px 12px grey;
}
.mainLogin 
{
    border-radius: .5cm;
    margin: 110px auto;
}
.mainLogin .linHead
{
    text-align: center;
    border-radius: .5cm .5cm 0cm 0cm;
    background-color: red;
    padding: 10px 0px 10px 0px;
    font-family: serif;
    font-weight: 600;
    font-size: 45px;
    color: white;
}
.mainLogin .loginInput
{
    height: 45px;
    border-radius: .2cm;
    border: none;
    border-bottom: 2px solid red;
    width: 90%;    
    margin-left: 20px;
    margin-bottom: 13px;
    font-size: 16px
}
.mainLogin .loginInput[type="text"],.loginInput[type="password"]
{
    padding-left: 10px;
    padding-right: 10px;
}
.mainLogin .input.btn
{
    padding: 10px 0px 8px 0px;    
    font-weight: 600;
    font-family: serif;
    font-size: 30px;
    border: 2px solid rgb(0,190,0);
    border-bottom: 4px solid rgb(0,160,0);
    background-color: rgb(0,190,0);
    color: white;
    transition: all 1s;
    width: 90%;    
    margin-left: 20px;
    margin-bottom: 18px;
    border-radius: 10px;
}
.mainLogin .input.btn:hover
{
    transition: 1s;
    background-color: rgb(150,20,20);
    border: 1px solid  rgb(180,20,20);
    border-bottom: 4px solid  rgb(80,20,20);
}
.mainLogin .rem
{
    margin-left: 20px;
}
.mainLogin input[type="checkbox"]
{
    width: 18px;
    height: 18px;
}
.mainLogin .loginLabel
{
    color: blue;;
    font-size: 20px;
}
.mainLogin .loginFoot
{   
    width: 100%;
    background-color: red;
    height: 70px;    
    border-radius: 0 0 .4cm .4cm;
    margin-top: 22px;    
    padding: 5px 5px;
}

.loginFoot a
{
    height: 70px;    
    color:white;
    font-weight: 700;
    font-family: serif;
    text-decoration: none;
    display: inline-block;    
    padding: 20px 20px 20px 20px;
    font-size: 18px;
    width: 200px;
}
.loginFoot .loginB
{
    float: right;    
}
.loginFoot .loginA
{
    margin-top: -5px;
    margin-left: -5px;
    padding-top: 27px;
    transition: all 1s;
}
.loginFoot .loginB
{
    padding-top: 27px;
    margin-top: -5px;
    margin-right: -5px;
    transition: all 1s;
}

.loginFoot .loginA:hover
{
    background-color: rgb(0,200,0);    
    border-radius: 0 0 0cm .4cm;
    transition: all 1s;
}
.loginFoot .loginB:hover
{
    background-color: rgb(0,200,0);
    border-radius: 0 0 .4cm 0cm;
    transition: all 1s;
}


@media screen and (max-width:520px)
{
    div.mainLogin
    {
        width: 340px;
        height: 400px;
        box-shadow: 10px 10px 12px grey;
    }
    .mainLogin input.btn
    {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    

    .loginFoot
    {   
        margin-top: 15px;
        box-shadow: 9px 10px 11px grey;
    }
    .loginFoot a
    {
        color:white;
        padding: 20px 0px 20px 5px;
        font-size: 18px;
        width: 170px;
        text-align: center;
    }   
}
@media screen and (max-width:372px)
{
    body.loginBody
    {
        zoom:80%;
    }
}
